.wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  padding: 30px;
  border: 1px solid rgb(162, 162, 162);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 300px;
}

.results {
  display: flex;
}